<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entryToHistoryDisease">
            <h2><span jhiTranslate="diplomaprojectApp.entryToHistoryDisease.detail.title">Entry To History Disease</span> {{ entryToHistoryDisease.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="diplomaprojectApp.entryToHistoryDisease.diseaseName">Disease Name</span></dt>
                <dd>
                    <span>{{ entryToHistoryDisease.diseaseName }}</span>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.entryToHistoryDisease.diseaseDescription">Disease Description</span></dt>
                <dd>
                    <span>{{ entryToHistoryDisease.diseaseDescription }}</span>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.entryToHistoryDisease.treatment">Treatment</span></dt>
                <dd>
                    <span>{{ entryToHistoryDisease.treatment }}</span>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.entryToHistoryDisease.date">Date</span></dt>
                <dd>
                    <span>{{ entryToHistoryDisease.date }}</span>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.entryToHistoryDisease.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="entryToHistoryDisease.patient">
                        <a [routerLink]="['/patient', entryToHistoryDisease.patient?.id, 'view']">{{ entryToHistoryDisease.patient?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button" *jhiHasAnyAuthority="['ROLE_DOCTOR']"
                    [routerLink]="['/entry-to-history-disease', entryToHistoryDisease.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
