<div>
    <h2 id="page-heading">
        <span jhiTranslate="diplomaprojectApp.entryToDoctor.home.title">Entry To Doctors</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entry-to-doctor" [routerLink]="['/entry-to-doctor/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="diplomaprojectApp.entryToDoctor.home.createLabel">
            Create a new Entry To Doctor
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="entryToDoctors?.length === 0">
        <span jhiTranslate="diplomaprojectApp.entryToDoctor.home.notFound">No entryToDoctors found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="entryToDoctors?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="diplomaprojectApp.entryToDoctor.patient">Patient</span></th>
                    <th scope="col" ><span jhiTranslate="diplomaprojectApp.entryToDoctor.doctor">Doctor</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entryToDoctor of entryToDoctors ;trackBy: trackId">
                    <td><a [routerLink]="['/entry-to-doctor', entryToDoctor.id, 'view']">{{ entryToDoctor.id }}</a></td>
                    <td>{{ entryToDoctor.date | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="entryToDoctor.patient">
                            <a [routerLink]="['/patient', entryToDoctor.patient?.id, 'view']" >{{ entryToDoctor.patient?.person.firstName   }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="entryToDoctor.doctor">
                            <a [routerLink]="['/doctor', entryToDoctor.doctor?.id, 'view']" >{{ entryToDoctor.doctor?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/entry-to-doctor', entryToDoctor.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/entry-to-doctor', entryToDoctor.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(entryToDoctor)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
