<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="entryToDoctor">
            <h2><span jhiTranslate="diplomaprojectApp.entryToDoctor.detail.title">Entry To Doctor</span> {{ entryToDoctor.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="diplomaprojectApp.entryToDoctor.date">Date</span></dt>
                <dd>
                    <span>{{ entryToDoctor.date }}</span>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.entryToDoctor.patient">Patient</span></dt>
                <dd>
                    <div *ngIf="entryToDoctor.patient">
                        <a [routerLink]="['/patient', entryToDoctor.patient?.id, 'view']">{{ entryToDoctor.patient?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.entryToDoctor.doctor">Doctor</span></dt>
                <dd>
                    <div *ngIf="entryToDoctor.doctor">
                        <a [routerLink]="['/doctor', entryToDoctor.doctor?.id, 'view']">{{ entryToDoctor.doctor?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/entry-to-doctor', entryToDoctor.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
