<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fieldCertificate">
            <h2><span jhiTranslate="diplomaprojectApp.fieldCertificate.detail.title">Field Certificate</span> {{ fieldCertificate.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="diplomaprojectApp.fieldCertificate.nameField">Name Field</span></dt>
                <dd>
                    <span>{{ fieldCertificate.nameField }}</span>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.fieldCertificate.value">Value</span></dt>
                <dd>
                    <span>{{ fieldCertificate.value }}</span>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.fieldCertificate.certificate">Certificate</span></dt>
                <dd>
                    <div *ngIf="fieldCertificate.certificate">
                        <a [routerLink]="['/certificate', fieldCertificate.certificate?.id, 'view']">{{ fieldCertificate.certificate?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/field-certificate', fieldCertificate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
