<div class="modal-header">
    <h4 class="modal-title">Register</h4>

    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')">
        <span aria-hidden="true">x</span>
    </button>
</div>


<div class="form-group">
    <label class="form-control-label" for="field_type_user">Choose user type</label>
    <select class="form-control" id="field_type_user" name="type_user"
           [(ngModel)]="typeUser">
        <option [ngValue]="null"></option>
        <option *ngFor="let type of userTypes;" [ngValue]="type">
        {{ type }}</option>
    </select>

    <button type="submit" class="btn btn-primary" (click)="next()">Next</button>
</div>
