<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="medicalTest">
            <h2><span jhiTranslate="diplomaprojectApp.medicalTest.detail.title">Medical Test</span> {{ medicalTest.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="diplomaprojectApp.medicalTest.indicator">Indicator</span></dt>
                <dd>
                    <span>{{ medicalTest.indicator }}</span>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.medicalTest.value">Value</span></dt>
                <dd>
                    <span>{{ medicalTest.value }}</span>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.medicalTest.image">Image</span></dt>
                <dd>
                    <div *ngIf="medicalTest.image">
                        <a (click)="openFile(medicalTest.imageContentType!, medicalTest.image)">
                            <img [src]="'data:' + medicalTest.imageContentType + ';base64,' + medicalTest.image" style="max-width: 100%;" alt="medicalTest image"/>
                        </a>
                        {{ medicalTest.imageContentType }}, {{ byteSize(medicalTest.image) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="diplomaprojectApp.medicalTest.entryToHistoryDisease">Entry To History Disease</span></dt>
                <dd>
                    <div *ngIf="medicalTest.entryToHistoryDisease">
                        <a [routerLink]="['/entry-to-history-disease', medicalTest.entryToHistoryDisease?.id, 'view']">{{ medicalTest.entryToHistoryDisease?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/medical-test', medicalTest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
